:root{
    --body-color: #FFFFFF;
    --aside-color: #C5BDAF;
    --primary-color: rgba(197, 189, 175, 0.5);
    --primary-color-hover: #C5BDAF;
    --geometric-color: #9F988C;
    --secondary-color: #5E3700;
    --secondary-color-hover: #4f2e00;
    --button-color: #5E3700;
    --button-color-hover: #4f2e00;
    --borrow-confirm-button: #A65E3B;
    --borrow-confirm-button-hover: #7e472c;
}

body{
    background-color: var(--body-color) ;
    font-family: Inter, serif !important;
    width: 60% !important;
    margin: 0 auto  ;
}

.btn-primary-color{
    background-color: var(--button-color) !important;
    border: 2px solid var(--button-color);
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.btn-primary-color:hover{
    background-color: var(--button-color-hover) !important;
    border: 2px solid var(--button-color-hover);
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: all ease 0.2s;
}

.btn-primary-outline{
    background-color: transparent;
    border: 2px solid var(--button-color);
    color: black;
    border-radius: 5px;
    text-decoration: none;
}

.btn-primary-outline:hover{
    background-color: transparent;
    border: 2px solid var(--button-color-hover);
    color: black;
    border-radius: 5px;
    text-decoration: none;
}

.btn-secondary-outline{
    background-color: transparent;
    border: 2px solid var(--geometric-color);
    color: black;
    border-radius: 5px;
    text-decoration: none;
}

.btn-secondary-outline:hover{
    background-color: transparent;
    border: 2px solid var(--geometric-color);
    color: black;
    border-radius: 5px;
    text-decoration: none;
}

.btn-confirm{
    background-color: var(--borrow-confirm-button) !important;
    border: 2px solid var(--borrow-confirm-button);
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.btn-confirm:hover{
    background-color: var(--borrow-confirm-button-hover) !important;
    border: 2px solid var(--borrow-confirm-button-hover);
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.asideLeft, .asideRight {
    height: 100vh;
    position: fixed;
    top: 0;
    width: 20%;
    background-color: var(--aside-color);
}


.asideLeft {
    left: 0;
}

.asideRight {
    right: 0;
}

.navbar {
    background-color: transparent !important;
    border-bottom: 3px solid var(--primary-color);
}

.image-width{
    width: 2%;
}

.primary-border-color{
    border: 2px solid var(--primary-color);
}

.session-forms{
    background-color: var(--primary-color);
    border-radius: 10px;
    width: 60% !important;
}

.form-border{
    border: 2px solid var(--primary-color);
}

.bg-color{
    background-color: var(--primary-color) !important;
}

.text-justify{
    text-align: justify;
}

.img-borrow{
    width: 100% !important;
    height: 15rem !important;
}

.text-clamp{
    display: -webkit-box !important;
    -webkit-line-clamp: 4 !important;
    -webkit-box-orient: vertical !important;
    overflow: hidden !important;
}
.text-clamp-oneLine{
    display: -webkit-box !important;
    -webkit-line-clamp: 1 !important;
    -webkit-box-orient: vertical !important;
    overflow: hidden !important;
}

.img-cover{
    width: 40%;
    height: 18rem;
}



.img-main{
    height: 5rem !important;
    width: 5rem !important;
}

.static-height{
    height: 15rem;
    width: 15rem;
}

.asideHeight{
    height: 4rem;
}

.profile-image{
    width: 2.5rem !important;
    height: 2.5rem !important;
}

.a-color{
    color:black;
}

.a-brown{
    color: var(--button-color);
}

.without-margin{
    margin: 0;
}


footer{
    background-color: var(--aside-color);
    position: relative;
    bottom: -20px;
}

li>a{
    text-decoration: none;
    color: black;
}

ul img{
    width: 1.5rem;
    height: auto;
}

.body-animation{
    animation: bodyAnimation 0.3s ease-in-out;
}

@keyframes bodyAnimation {
    from { opacity: 0; transform: translateY(10px); }
    to   { opacity: 1; transform: translateY(0); }
}

.img-details{
    width: 100% !important;
    height: 20rem !important;
}

.img-edit-book{
    width: 100% !important;
    height: 10rem !important;
}

.icon-image{
    width: 3rem !important;
    height: 3rem !important;
}
.div-details{
    width: 35% !important;
    height: 21rem;
}

.img-publication{
    width: 100% !important;
    height: 10rem !important;
}

.img-comments{
    width: 50% !important;
    height: 25rem !important;
}


.input-type-file{
    display: none !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%) !important;
}



@media (max-width: 600px){
    .img-details{
        width: 100% !important;
        object-fit: cover !important;
    }

    .div-details{
        width: 100% !important;
    }
    .margin-xsm{
        margin-top: 1rem;
    }

}

@media (max-width: 768px){
    aside{
        display: none;
    }
    body{
        width: 100% !important;
    }
}

@media (max-width: 991px){
    .userDiv, .asideNav{
        display: none;
    }

    .div-details{
        width: 100% !important;
    }

    .static-height-home{
        height: 15rem !important;
    }
}

@media (max-width: 1200px){
    .navbar-icon{
        display: none;
    }
    .static-height-home{
        height: 25rem;
    }
    .img-comments{
        width: 100% !important;
        height: 25rem !important;
    }

}


@media(max-width: 1400px){
    .img-cover{
        display: none;
    }

    .userDiv, .userNav{
        width: 80% !important;
    }

    .userDiv p{
        display: none;
    }

    .span-class{
        display: none;
    }
}

@media(max-width: 1500px){
    .img-cover{
        display: none;
    }


}
